.Body {
  background: green;
}

.Battom {
  display: block;
  width: 90%;
  margin-top: 40%;
  margin-right: 5%;
  margin-left: 5%; 
}

.Top_botton {
  background: blue;
  position: absolute;
  width: 15%;
  height: 6%;
  margin-left: 1%;
  margin-top: -19%;
}

.Trade_botton {
  background: blue;
  position: absolute;
  width: 15%;
  height: 6%;
  margin-left: 23%;
  margin-top: -19%;
}

.Business_botton {
  background: blue;
  position: absolute;
  width: 15%;
  height: 6%;
  margin-left: 45%;
  margin-top: -19%;
}

.Shop_botton {
  background: blue;
  position: absolute;
  width: 15%;
  height: 6%;
  margin-left: 67%;
  margin-top: -19%;
}

.Menu {
  position: absolute;
  margin-top: 40%;
  width: 100%;
  margin-top: 30%;
  margin-right: 5%;
  margin-left: 5%;
}

.Menu_block {
  background: red;
  position: absolute;
  width: 100%;
  height: 10%;
  margin-top: 40%;
}