.Battom {
  display: block;
  width: 90%;
  margin: 50% 5% 30% auto; 
}

.Top_botton {
  position: absolute;
  width: 15%;
  height: 6%;
  margin-left: 1%;
  margin-top: -19%;
}

.Trade_botton {
  position: absolute;
  width: 15%;
  height: 6%;
  margin-left: 23%;
  margin-top: -19%;
}

.Business_botton {
  position: absolute;
  width: 15%;
  height: 6%;
  margin-left: 45%;
  margin-top: -19%;
}

.Shop_botton {
  position: absolute;
  width: 15%;
  height: 6%;
  margin-left: 67%;
  margin-top: -19%;
}

.Menu {
  display: block;
  width: 100%;
}

.Menu_block {
  display: block;
  width: 90%;
  height: 12%;
}