.Battom {
  background-color: black;
  display: block;
  width: 90%;
  margin: 50% auto auto auto;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
}

.Battom_press {
  display: block;
  width: 88%;
  margin: 51% auto auto auto;
}

.Batto {
  display: block;
  width: 86%;
  margin: 52% auto auto auto;
}

.asdas {
  color: black;
  display: block;
  width: 100px;
  height: 100px;
}

.Top_botton {
  position: absolute;
  background: ;
  width: 13%;
  height: 8%;
  margin-top: -25%; 
  margin-left: 6%;
}

.Trade_botton {
  position: absolute;
  background: ;
  width: 13%;
  height: 8%;
  margin-top: -25%; 
  margin-left: 28%;
}

.Business_botton {
  position: absolute;
  background: ;
  width: 17%;
  height: 8%;
  margin-left: 48%;
  margin-top: -25%; 
}

.Shop_botton {
  position: absolute;
  background: ;
  width: 16%;
  height: 8%;
  margin-left: 72%;
  margin-top: -25%; 
}

.Menu {
  display: block;
  width: 90%;
  margin: 5% auto;
}
